.header{
    min-height: 50px;
    width: 100%;
    background-color: #deb841;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

nav a{
     margin: 25px;
     color: #37323e;
     font-family: 'Playfair Display', serif;
     font-weight: 500;
     font-size: 20px;
}
nav a:hover{
    color:#37323e;
    font-weight: bold;
    margin-left: 2em;
    transition: margin-left 1s ease out;
}

hr{
    background-color: #37323e;
}

section{
    flex: 1 0 auto;
}


.indexh1{
    max-width: 600px;
    margin-left: 550px;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#fff; 
    font-size: 50px;
    
}

.indexp{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 5000;
    font-size: 40px;
    max-width: 750px;
    margin-left: 500px;
    margin-top: 25px;
} 

.bienvenue{
    margin-top: 75px;
    margin-left: 395px;
    max-width: 800px;
    color: #bfbdc1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

footer{
    flex-shrink: 0;
    width: 100%;
    background-color:#deb841;
    min-height: 30px;
    
}

footer p{
    color: #37323e;
    margin-left: 650px;
}


/***********************************
CSS CONTACT
************************************/
.contactflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contacth1{
    color: #37323e;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    align-self: flex-start;
    padding: 100px 100px 50px 100px;
    
}

form{
    width: 800px;
}

#nom, #courriel, #prenom, #telephone, #sujet, #choose{
    background-color: #37323e!important;
    color: #bfbdc1;
    border: 3px solid #bfbdc1;
    border-radius: 0;
    margin-bottom: 25px;
    max-width: 810px;
    align-self: flex-start;
}

#nom::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
}

#prenom::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
}

#courriel::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
}
  
#telephone::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
}

#sujet::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
}

#message{
    resize: none;
    padding: 0;
    background-color: #37323e;
    color: #bfbdc1;
    border: 3px solid #bfbdc1;
    border-radius: 0;
    margin-bottom: 25px;
    width: 800px;
    min-width: 800px;
    align-self: flex-start;
}

#message::placeholder{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#choose{
    width: 665px;
}
   
#button{
    color: #6d6a75;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    min-width: 800px;
    background-color: #37323e;
    border: 4px solid #bfbdc1;
    border-radius: 0;
    margin-bottom: 50px;
}



/**********************************************
CSS PRESENTATION
***********************************************/
.presentgrid{    
    display: grid;
    grid-template-columns: repeat(2,50%);    
}

.grid1{    
    justify-self: center;
    align-self: center;    
}

.grid2{    
    justify-self: center;
    align-self: center;    
}

.presentationh1{   
    color: #37323e;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 200px;
    padding-left: 100px;
    margin-top: 50px;    
}

.voiture-anime{
    margin-top: 25px;
    width: 45px;
}
.voiture-anime:hover{ 
    -webkit-transition: transform 5s linear;
    -moz-transition: transform 5s linear;
    -o-transition: transform 5s linear;
    transition: transform 10s linear;
    transform: translate(650px);
   
}
.photoperso{
    margin: 125px 0 25px 50px;
}

.presentationp{    
    color: #37323e;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    margin-top: 40px;
    margin-right: 175px;    
   
}

.presentationp2{
    color: #37323e;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    max-width: 700px; 
    margin-top: 25px;
}

/*****************************************************
CSS BLOG
******************************************************/
.h1blog{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 600px;
    margin-top: 50px;
}

.hrblog{
    background-color: #37323e;
    max-width: 325px;
    height: 4px;
    margin-left: 565px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,350px);
    gap: 35px;
    margin: 100px;
    
}

.articleblog{
     box-shadow: 2px 2px 2px 2px #37323e;
     border-radius: 5px;
     background-color: #bfbdc1;
}

.blogh2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.blogp{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: justify;
    padding: 10px;
}

.bloga{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #37323e;
    margin-left: 115px;

}

.bloga:hover{
    color: #6d6a75;
}

/***************************************************************
CSSS ARTICLE 
******************************************************************/

.imgarticle{
    margin: 75px 150px 50px 300px;
    height: 400px;
    width:900px;
    border: 3px solid #37323e;
    box-shadow: 2px 2px 2px #37323e;
}

.articleh1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.articlep{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: justify;
    max-width: 1000px;
    margin-left: 250px;
    margin-bottom: 30px;
}

.articlepub{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-left: 1100px;
}

.articlepub2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-left: 1100px;
    margin-bottom: 50px;
}

/******************************************************************
CSS REALISATIONS
*******************************************************************/
.h1real{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    margin: 50px 0 100px 520px;
}

.h2real{
    font-family: 'Raleway', sans serif;
    font-size: 30px;
    font-weight: 900;
    margin-left: 650px;
}

.realgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 100px;
    margin-top: 150px;
}


.h2real2{
    font-family: 'raleway', sans-serif;
    text-align: center;
}

.realgrid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 100px;
    margin-top: 150px;
}

/****************************************

SCROLL

**************************************/
.cloud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/nuages.jpg) ;
    min-height: 760px;
}

.cloud.scroll{
    background-image: url(images/route2.jpg) ;
}

.accueil.scroll{
    background-image: url(images/route2.jpg) ;
}
.accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/laroute.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 760px;
}


/*************************************
Element qui tourne
*************************************/

.element-tour{
    width: 90px;
    height: 90px;
    background-image: url(images/animation.jpg);
    border-radius: 100%;
    position: absolute;
    animation: animationTour 6s linear;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes animationTour{
    0%{
        visibility: visible;
        left: 1%;
        top: 1%;
        border-radius: 100%;
        background-image: url(images/animation.jpg);
        transform: rotate(-360deg);
    }
    25%{
       left: 95%;
       top: 1%;
    }
    50%{
        right: 1%;
        top: 80%
    }
    75%{
        right: 95%;
        top: 90%;
    }
    100%{
        right: 95%;
        top: 1%;
    }
}


/****************************************
Fenetre modale
*****************************************/

#openpop{
    background-color:  #deb841;
    border: 2px solid #37323e;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    width: 150px;
    height: 40px;
    margin-left: 700px;
    margin-top: 50px;
}

#fenetre{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.boite{
    width: 700px;
    height: 180px;
    background-color: #deb841;
    border-radius: 250px;
    border : 2px solid #37323e;
    padding: 10px 5px;
    box-sizing: border-box;
}

.h2pop{
    font-family: 'raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#email_pop{
    width: 500px;
    background-color: #bfbdc1;
    border-radius: 50px;
    border: none;
    margin-left: 90px;  
}

#email_pop::placeholder{
    color: #37323e;
    font-family: 'raleway', sans-serif;
    font-size: 15px;    
    text-align: center;
}

#abonne{
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #bfbdc1;
    color: #37323e;
    border-radius: 25px;
    border: 1px solid #37323e;
    box-shadow: 2px 2px #37323e;
    margin-left: 280px;
    margin-top: 25px;
    padding: 5px;   
}